body {
  margin: 0;
  background: rgb(45, 46, 88);
  background: radial-gradient(
    circle,
    rgba(45, 46, 88, 0.9408555658591562) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 0;
}

/* TODO : сделать плавный переход обратно с items */

.items {
  transition: opacity 0.7s, visibility 0.7s;
}

/* .items:hover .icon-plus {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.7s, visibility 0.7s;
} */

/* 
.items:not(:hover) {
  transition: all 3s linear;
} */

.item {
  width: 70vw;
  margin-top: 3%;
  cursor: pointer;
  transition: all 0.3s linear;
}

.item:active {
  color: white;
  /* background: red; */
  transition: all 0.3s linear;
}

/* .item:hover .item-img {
  width: 20vw;
  transition: all 1s linear;
} */

.line {
  height: 0.1vh;
  background-color: black;
}

.img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-img {
  width: 0vw;
  /* width: 40vw; */
  margin-top: 2%;
  /* opacity: 0; */
  /* display: none; */
  /* visibility: hidden; */
}

.item-title {
  display: flex;
  justify-content: space-between;
}

.text {
  display: inline-block;
  margin-top: 1%;
  /* text-shadow: violet; */
  font-size: 0.6em;
  font-weight: bold;
  cursor: pointer;
  /* transition: opacity 0.6s linear; */
}

/* .text:hover ~ .icon-plus {
  opacity: inherit;
  transition: opacity 0.6s linear;
} */

#icon-plus {
  opacity: 0;
  margin-top: 0.5%;
  visibility: hidden;
  width: 2%;
  height: 2%;
}

/* @media (min-width: 600px) and (max-width: 800px) {
  div.right {
    width: 100%;
  }
} */

/* @media (max-width: 1920) {
  .title {
    font-size: 2em;
  }

  .text {
    font-size: 1.5em;
  }
}

@media (max-width: 820px) {
  .title {
    font-size: 0.8em;
  }

  .text {
    font-size: 0.4em;
  }
}

@media (max-width: 320px) {
  .title {
    font-size: 0.6em;
  }

  .text {
    font-size: 0.3em;
  }
} */

@media (hover: hover) {
  .items:hover #icon-plus {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.7s, visibility 0.7s;
  }

  .item:hover .item-img {
    width: 20vw;
    transition: all 1s linear;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 1;
  }

  .item:hover i {
    transform: rotate(45deg);
    transition: transform 3s linear;
  }
}

@media screen and (max-width: 820px) {
  .title {
    font-size: 1em;
  }

  .icon-cross {
    height: 5%;
    width: 5%;
  }

  .item-img {
    width: 25vw;
  }
}

@media screen and (max-width: 320px) {
  .title {
    font-size: 1em;
  }

  .icon-cross {
    height: 5%;
    width: 5%;
  }

  .item-img {
    width: 25vw;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    /* width: 300%; */
  }

  to {
    margin-left: 0%;
    /* width: 100%; */
  }
}
