body {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
  text-transform: uppercase;
  font-size: 4vw;
  margin: 0;
}

/* TODO : сделать плавный переход обратно с items */

.items {
  transition: opacity 0.7s, visibility 0.7s;
}

.items:hover .icon-plus {
  /* background-color: red; */
  visibility: visible;
  opacity: 1;
  transition: opacity 0.7s, visibility 0.7s;
}
/* 
.items:not(:hover) {
  transition: all 3s linear;
} */

.item {
  width: 70vw;
  margin-top: 3%;
  cursor: pointer;
  transition: all 1s linear;
}

.item:hover .item-img {
  width: 40vw;
  transition: all 1s linear;
}

.line {
  height: 0.1vh;
  background-color: grey;
}

.item-img {
  width: 0vw;
  /* width: 40vw; */
  margin-top: 2%;
  /* opacity: 0; */
  /* display: none; */
  /* visibility: hidden; */
}

.item-title {
  display: flex;
  justify-content: space-between;
}

.text {
  display: inline-block;
  font-size: 2vw;
  margin-top: 1%;
  text-shadow: violet;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  /* transition: opacity 0.6s linear; */
}

/* .text:hover ~ .icon-plus {
  opacity: inherit;
  transition: opacity 0.6s linear;
} */

.icon-cross {
  opacity: 0;
  /* opacity: 0; */
  visibility: hidden;
  width: 5%;
  height: 5%;
}

.icon-plus {
  opacity: 0;
  visibility: hidden;
  width: 5%;
  height: 5%;
}
